<main class="w-full h-screen flex justify-center items-center">
    <form action="" class="w-1/2 h-1/2 bg-white rounded-lg shadow-lg">
        <div class="flex flex-col gap-4">
            <h1 class="text-2xl font-bold">Register</h1>
            <input type="text" placeholder="Name" class="border border-gray-300 rounded-lg p-2">
            <input type="email" placeholder="Email" class="border border-gray-300 rounded-lg p-2">
            <input type="password" placeholder="Password" class="border border-gray-300 rounded-lg p-2">
            <button type="submit" class="bg-blue-500 text-white rounded-lg p-2">Register</button>
        </div>
    </form>

    <app-button variant="danger">Register</app-button>
</main>