<header class="sticky top-0 z-50 bg-[#FFFFFF] border-b border-slate-200 shadow-sm">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-20 relative">
            <!-- Logo -->
            <a routerLink="/" class="flex items-center gap-3 relative z-10 hover:opacity-80 transition-opacity">
                <app-logo variant="small"></app-logo>
            </a>

            <!-- Navigation (Centered) -->
            <nav class="hidden md:flex items-center space-x-8 absolute left-1/2 -translate-x-1/2">
                <a class="display-font text-[#E21D1D] border-b-2 border-[#E21D1D] pb-0.5 font-bold tracking-wide text-lg"
                    routerLink="/shop" routerLinkActive="text-[#E21D1D] border-b-2 border-[#E21D1D]">
                    SHOP
                </a>

                <a class="display-font text-slate-700 hover:text-[#E21D1D] transition-colors font-bold tracking-wide text-lg uppercase"
                    routerLink="/profile">
                    PROFILE
                </a>
            </nav>

            <!-- Actions (Right) -->
            <div class="flex items-center gap-4 relative z-10">


                <!-- Shopping Cart -->
                <div class="relative flex items-center gap-1 ">
                    <span class="material-icons text-3xl cursor-pointer  ">shopping_bag</span>
                    @if (cartService.itemCount() > 0) {
                    <span
                        class="absolute -top-1 -right-2.5 bg-[#E21D1D] text-white text-[10px] font-bold w-5 h-5 flex items-center justify-center rounded-full border-2 border-white">
                        {{ cartService.itemCount() }}
                    </span>
                    }
                </div>
                <!-- Sign Out Button -->
                @if (authService.isAuthenticated()) {
                <button (click)="authService.logout()"
                    class="flex items-center gap-1 text-[#E21D1D] hover:text-slate-500 transition-colors font-bold uppercase text-sm">
                    <span class="material-icons text-lg">logout</span>
                    Sign Out
                </button>
                }
            </div>
        </div>
    </div>
</header>